.canvas {
    background: rgba(8, 156, 182, 0.1);
    height: 100%;
    width: 99%;
    padding: 20px;
    margin-left: 10px; 
    resize: both;
    overflow: auto;
}
     
#canvas-wrap { 
    position:relative; 

}

#canvas-wrap canvas {   k n  1
    z-index:0 
}

@media(max-width: 1300px) {
    .canvas {
        width: 95%;
        float: right;
    }
}