.canvas {
    background: #f6f5f3;
    height: 100%;
    width: 99%;
    padding: 20px;
    margin-left: 10px; 
    resize: both;
    overflow: auto;
}
     
#canvas-wrap { 
    position:relative; 

}

#canvas-wrap canvas {
    z-index:0 
}

@media(max-width: 1300px) {
    .canvas {
        width: 95%;
        float: right;
    }
}