.button {
    position: absolute; 
    right: 1%;
    background: rgba(8, 156, 182, 0.1);
    background-color: rgba(255, 81, 0, 0.692);
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
}

#accordion {
    width: 117%;
    max-height: 90%;
}

.header {
    height:88vh;   
}

.card {
    left: 0px;
    right: 0px;
    width: 100%;
}

.card-header {
    color: black;
    background-color: rgba(217, 221, 226, 0.2);
    font-family: "Times New Roman", Times, serif;
    width: 100%;
}

.card-body {
    height: 220px;
    overflow: auto;
    background: rgba(8, 156, 182, 0.1);
    font-family: "Times New Roman", Times, serif;
    width: 100%;
}

#todo {
    margin-right:3px;
}

#addtodo {
    position: absolute; 
    bottom: 1%;
    left: 5%;  
    height: 30px;
    width: 90%; 
    line-height: 15px;
    text-align: center;
    background: rgba(8, 156, 182, 0.1);
    background-color: rgba(255, 81, 0, 0.692);
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
}

#addtodospan {
    position: absolute; 
    right: 1%;
    top: 20%;
}

.head {
    background-color: transparent;
}

.badge {
    background: transparent;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.modal {
    z-index: 1;
    border-style: solid;
    height: 90%;
    margin-top: 3%;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-color: white;
    max-width: 100%;
    min-width: 90%;
    padding-left: 0;
}

.vertical-center-modal {
    white-space: nowrap;
  }
  
  .vertical-center-modal:before {
    content: '';
    display: inline-block;
  }
  
  .vertical-center-modal .ant-modal {
    display: inline-block;
  }

  .modalContent {
      text-align: left;
  }

  .titleModal {
      width: 95%;
  }

  .inputChat {
      color: black;
      z-index: 1;
  }