.dropdown {
    position: absolute; 
    right: 1%;
    border-radius: 3px;
}

.dropdown-menu {
    position: absolute;
    right: 1%;
}

.notify {
    color: black;
}

.navbar {
    background-color: rgba(217, 221, 226, 0.1);
    font-family: "Times New Roman", Times, serif;
    border-bottom:1px solid #AAAAAA;   
}

.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    padding: 7px 14px;
}