.button {
    position: absolute; 
    left: 1%;
    background: rgba(8, 156, 182, 0.1);
    background-color: rgba(255, 81, 0, 0.692);
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    width: 50%;
}

#todo {
    margin-right:3px;
    
}